{% extends 'base.html.twig' %}

{% block title %}ChatRoom index{% endblock %}

{% block body %}
    <h1>ChatRoom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ChatName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chat_room in activeChatRooms %}
            <tr>
                <td>{{ chat_room.id }}</td>
                <td>{{ chat_room.chatName }}</td>
                <td>
                    <a href="{{ path('app_chat_room_show', {'id': chat_room.id}) }}">show</a>
                    <a href="{{ path('app_chat_room_edit', {'id': chat_room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chat_room_new') }}">Create new</a>
{% endblock %}
